name: user profile CI

on:
 pull_request:
  paths:
   - 'apis/userprofile/**'
   
jobs:
  build:

   runs-on: ubuntu-latest
   steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
          
      - name: Install dependencies
        run: npm install --prefix ./apis/userprofile/        
        
      - name: Start the Server
        run: npm run build --prefix ./apis/userprofile/     
            
      - name: Run Unit Test
        id: UnitTest
        run: npm test -- -t ./apis/userprofile/
        continue-on-error: true
            
      - name: Create an Issue if the job fails    
        if: ${{ steps.UnitTest.outcome != 'success' }}
        uses: JasonEtco/create-an-issue@v2
        env:
         GITHUB_TOKEN: ${{ secrets.ADNAN_TOKEN}}
       
      - name: Exit On Failed Unit Test
        if: ${{ steps.UnitTest.outcome != 'success' }}
        run: exit 1
