name: user profile CI

on:
  push:
    branches: [ main ]
 pull_request:
  paths:
   - 'apis/userprofile/**'
   
jobs:
  build:

   runs-on: ubuntu-latest
   steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Install dependencies
        run: npm install
        
      - name: Start the Server
        run: npm start
      
      - name: Open the Browser
        run: open http://localhost:8080/api/docs/user
      
      - name: Run Unit Test
        id: UnitTest
        run: npm test
            
      - name: Create an Issue if the job fails    
      if: ${{ steps.UnitTest.outcome != 'success' }}
      uses: JasonEtco/create-an-issue@v2
      env:
       GITHUB_TOKEN: ${{ secrets.ADNAN_TOKEN}}
       
    - name: Exit On Failed Unit Test
      if: ${{ steps.UnitTest.outcome != 'success' }}
      run: exit 1
